title = "http method put"
description = "http method put"

[request]
method = "put"
url = "http://httpbin.org/put"
body = """
{
    "hello": "world"
}
"""
[request.header]
Content-Type = "application/json"


[assert]
status = "ok"
statusCode = 200
contentLength_gt = 180
contentType = "application/json"
